html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    text-rendering: optimizeLegibility;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    font-weight: 600;
}

.nav {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
}

.nav:hover {

    padding: 15px;
    background-color: white;
    /*Manipulations stuff*/
    transition: 0.3s;

    box-shadow: 0px 5px 5px 0px rgb(18, 120, 74);
}

.bg-vid {
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.relogios,
.login {
    margin: 15px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.relogios:hover,
.login:hover {
    background: rgba(18, 120, 74, 1);
    color: rgb(242, 242, 242);
    transition: 0.15s;
}

.nav img {
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}

.desc {
    margin-bottom: 1%;
}

.text {
    display: flex;
    justify-content: left;
    width: 960px;
    margin: 50px;
    margin: auto;
    padding: 20px;
    font-size: 20px;
    text-align: left;
}

.titulo {
    font-size: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.5px solid rgb(242, 242, 242);
}

.container {
    max-width: 100%;
    width: 100%;
    padding: 1rem;
    overflow-x: hidden;
    box-sizing: border-box;
    margin-top: 1rem;
}

.products {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
}

.relogio {
    flex: 0 0 auto;
    background: rgb(242, 242, 242);
    border: 0;
    border-radius: 1rem;
    padding: 1rem;
    max-width: 100%;
    box-sizing: border-box;
}

.relogio:hover {
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
}

.relogio img {
    width: 10rem;
    max-width: 100%;
    height: auto;
    margin: 1rem;
    object-fit: cover;
}

.name {
    padding: 1rem;
    margin-bottom: 0.5rem;
}

/* .content {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    gap: 1rem;
    font-family: "Helvetica Now Text", sans-serif;
}

.product {
    width: 25rem;
    height: 30rem;
    margin: auto;
    border-radius: 16px;
    background-color: rgb(242, 242, 242);
    display: inline-block;
}

.product .image {
    height: fit-content;
}

.product img {
    height: 15rem;
}

.product .image:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

/* .product .name1 {
font-weight: 600;
text-decoration: none;
color: rgb(0, 110, 60);
}

.product .name2 {
    font-weight: 600;
    text-decoration: none;
    color: rgb(72, 105, 149);
}

.product .name3 {
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.product a {
    text-decoration: none;
    color: rgb(30, 30, 30);

    &::hover {
        transform: scale(1.1);
        transition: 0.2s;
    }
}

.product .price {
    font-weight: 200;
}*/

.showcase {
    padding: 1rem;
    padding-top: 2rem;
}

.prod-container {
    display: flex;
    flex-direction: row;
    margin: 3rem;
    gap: 2rem;
    justify-content: center;
    text-align: left;
    font-size: 1rem;
    height: 100%;
    width: 100%;
}

.prod-img {
    background: rgb(248, 248, 248);
    border: 0;
    padding: 2rem;
    width: 50%;
    height: 100%;
    text-align: center;
}

.prod-info {
    width: 50%;
    height: 100%;
}

.prod-name {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.prod-price {
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.prod-descr {
    padding-bottom: 2rem;
    width: 75%;
}

.prod-pagamento {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin-bottom: 2rem;

    & select {
        width: 10rem;
        height: 2.5rem;
        cursor: pointer;
        border: 1px solid #D9D9D9;
        border-radius: 8px;
    }
}

.prod-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    width: 20rem;
    height: 2.5rem;
    border: 1px solid #2C2C2C;
    border-radius: 8px;

    &:hover {
        border-color: rgb(64, 155, 64);
    }
}

footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 5rem;
    gap: 5rem;
    position: relative;
    width: 100%;
    height: fit-content;
    background: rgb(242, 242, 242);
    justify-content: space-around;
}

.footer-info,
.footer-info a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    gap: 1rem;
    color: inherit;
}

.footer-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.texto {
    display: flex;
    width: 960px;
    margin: 50px;
    margin: auto;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}